@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
}

.react-time-picker {
  width: 220px;
  margin-top: 8px;
}

.react-time-picker__wrapper {
  border: 1px solid #DED8CE !important;
  border-radius: 10px;
  background: #FAFAF8;
  padding: 8px 10px;
}

.react-time-picker input {
  color: #222;
  font-size: 14px;
}

.react-time-picker button {
  color: #6E8570;
}